---

- name: include OS-specific vars
  ansible.builtin.include_vars: >-
    {{ lookup("ansible.builtin.first_found", __systemd_timesyncd_vars_files) }}

- name: set time zone
  community.general.timezone:
    name: '{{ system_timezone }}'
  become: yes
  when: system_timezone is defined
  tags:
    - timezone

- name: remove unneeded ntp clients
  ansible.builtin.package:
    name: chrony,ntp
    state: absent
  become: yes
  when: systemd_timesyncd_purge_legacy_packages

- name: install systemd timesyncd package
  ansible.builtin.package:
    name: '{{ __systemd_timesyncd_package }}'
    update_cache: '{{ __systemd_timesyncd_virtualized }}'
  become: yes

- name: configure systemd-timesyncd
  ansible.builtin.template:
    src: timesyncd.conf.j2
    dest: /etc/systemd/timesyncd.conf
    owner: root
    group: root
    mode: 0644
  register: __systemd_timesyncd_configuration
  become: yes

- name: start systemd-timesyncd service
  ansible.builtin.service:
    name: systemd-timesyncd
    state: >-
      {{
        __systemd_timesyncd_configuration.changed |
          default(False) |
          ternary("restarted", "started")
      }}
  when: not __systemd_timesyncd_virtualized
  become: yes
  tags:
    - service
    - service-timesyncd
    - timesyncd-service

- name: enable systemd-timesyncd service
  ansible.builtin.service:
    name: systemd-timesyncd
    enabled: yes
  become: yes
  tags:
    - service
    - service-timesyncd
    - timesyncd-service

...
