# {{ ansible_managed }}

[Time]
{% if ntp_servers is defined %}
NTP={{ ntp_servers | join(" ") }}
{% endif %}
{% if ntp_fallback_servers is defined %}
FallbackNTP={{ ntp_fallback_servers | join(" ") }}
{% endif %}
